.login--div {
  align-items: center;
  background-color: green;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
}

.login--form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login--button {
  background-color: white;
  border: 2px solid black;
  border-radius: 12px;
  color: black;
  cursor: pointer;
  font-size: 15px;
  margin: 10px 0;
  padding: 0 25px;
}
